html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "arial";
	letter-spacing: 1px;
	word-spacing: 3px;
}

.main-container{
	min-height: 100%;
}

.header, .footer, .push{
	height: 100px;
}

.footer{
	margin-top: -100px;
}

.panel-box{
	max-width: 1000px;
	margin: auto;
	text-align: center;
}
