html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "arial";
	letter-spacing: 1px;
	word-spacing: 3px;
}

.main-container{
	min-height: 100%;
}

.header, .footer, .push{
	height: 70px;
}

.header, .footer, .footer a{
	background: black;
  	color: white;
}

.footer{
	margin-top: -70px;
}

.panel-box{
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

.panel,.header,.footer{
	position: relative;
	z-index: 10;
}

h1{
	font-size: 4em;
	font-weight: 100;
}

a{
	text-decoration: none;
	background: black;
	color: white;
	padding: 20px;
  	display: inline-block;
}
